/* Div initial home para inserir o background da home */
.initial-home {
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("../../../assets/images/wallpaper-home.png");
    border-bottom: 6px solid #E84426;
    box-shadow: 0px 10px 30px 10px #808080;
}

/* separamento das propriedades para ficar facil a leitura */
.initial-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Div`s para arrumar o texto principal da home */
.initial-home h1 {
    color: #f3f3f3;
    font-weight: 500;
}

.initial-home h2 {
    color: #E84426;
    font-weight: 300;
    padding-bottom: 2rem;
}

/* Div do input search */
.search-movies {
    display: flex;
    align-items: center;
    padding-bottom: 8rem;
}

/* id input */
#movsearch {
    width: 35rem;
    height: 2.6rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 6px 1px #000;
    transition: all 0.4s;
}

/* id input hover para a animacao */
#movsearch:hover {
    box-shadow: 0px 0px 0px 0px #000;
    margin-right: 4rem;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* id input focus para tirar a borda quando estiver escrecendo */
#movsearch:focus {
    outline: none;
}

/* id botao ao lado do input */
#searchbutton {
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    color: #f3f3f3;
    background-color: #E84426;
    box-shadow: 3px 3px 6px 1px #000;
    transition: all 0.3s;
}

/* id botao hover para animar ao clicar */

#searchbutton:hover {
    box-shadow: 0px 0px 0px 0px #000;
    background-color: #f3f3f3;
    color: #E84426;
    border: 1px solid #E84426;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/* id botao focus para tirar a borda ao clicar */

#searchbutton:focus {
    outline: none;
}

/* Div onde irá ficar alguns filmes*/
.some-movies {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Arrumar title principal */
.some-movies h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #032541;
    text-shadow: 1px 1px 2px #000;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* padding na div movie para melhor visão */
.movie{
    padding-bottom: 6rem;
}

/* Alinhar filmes principais em ordem */
.movies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* ajuste de font dos titulos e datas */
.title-movies{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}
.title-movies h1{
    font-weight: 200;
    color: #032541;
}
.title-movies p{
    font-weight: 300;
    color: #032541;
    padding-top: 0.2rem;
}

/* Alinhando informacoes principais na div */
.align-informations{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* estilizando o circulo da nota media do filme */
.title-vote{
    font-weight: 300;
    background-color: #1b0d5e;
    border-radius: 90px;
    color: #fff;
    border: 3px solid #009985;
    padding: 6px;
}

/* div para estilizar a caixa do filme */
.box-movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 14rem;
    border-radius: 8px;
    background-color: #f3f3f3;
    box-shadow: 4px 5px 10px 1px #808080;
    transition: all 0.3s;
    /* Para dar espacamento entre os filmes */
    margin-right: 1rem;
    margin-left: 1rem;
}
/* hover para animação */
.box-movie:hover{   
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}

/* ajuste da image thumb */
#thumb{
    border-radius: 8px;
    width: 14rem;
    height: 20rem;
}

/* alinhamentos responsivos */
.responsive-align-one{
    display: flex;
}

.responsive-align-two{
    display: flex;
}

/* @media para deixar o site responsivo */

@media(max-width: 1295px){
    .movies{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 890px){
    #movsearch:hover {
        box-shadow: 0px 0px 0px 0px #000;
        margin-right: 2.5rem;
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}
@media(max-width: 830px) {
    #movsearch {
        width: 20rem;
        height: 2rem;
    }
    #movsearch:hover {
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
    }
    .search-movies {
        padding-bottom: 8rem;
    }
    .initial-home {
        width: 100%;
        height: 40rem;
    }
    #searchbutton {
        width: 5rem;
        height: 2rem;
    }
    .initial-home h1 {
        font-size: 1.6rem;
    }
    .initial-home h2 {
        font-size: 1.3rem;
    }
}
@media(max-width: 790px){
    .responsive-align-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .responsive-align-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 440px) {
    #movsearch {
        width: 20rem;
        height: 2rem;
        margin-right: 0rem;
    }
    #searchbutton {
        width: 6rem;
        height: 2rem;
    }
    .search-movies {
        padding-bottom: 8rem;
    }
    .initial-home {
        width: 100%;
        height: 40rem;
    }
    .initial-home h1 {
        font-size: 1.6rem;
    }
    .initial-home h2 {
        font-size: 1.3rem;
    }
    .search-movies {
        display: flex;
        flex-direction: column;
    }
    .broken-line-responsive {
        padding-top: 1rem;
    }
}

@media(max-width: 395px) {
    #movsearch {
        width: 20rem;
        height: 2rem;
    }
    #movsearch:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    #searchbutton {
        width: 6rem;
        height: 2rem;
    }
    .initial-home h1 {
        font-size: 1.6rem;
    }
    .initial-home h2 {
        font-size: 1.1rem;
    }
    .search-movies {
        display: flex;
        flex-direction: column;
    }
    .broken-line-responsive {
        padding-top: 1rem;
    }
}

@media(max-width: 335px) {
    #movsearch {
        width: 15rem;
        height: 2rem;
    }
    #searchbutton {
        width: 5rem;
        height: 2rem;
    }
    .initial-home h1 {
        font-size: 1.3rem;
    }
    .initial-home h2 {
        font-size: 1rem;
    }
    .search-movies {
        display: flex;
        flex-direction: column;
    }
    .broken-line-responsive {
        padding-top: 1rem;
    }
}